{% extends "base.html" %}

{% block title %}{{ event.display_title }} – My IoT{% endblock %}

{% block body %}
  <section class="hero {% include "classes/color.html" %}">
    <div class="hero-head">
      {% include "includes/navbar.html" %}
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4">
          {% if event.unit != Unit.IMAGE_URL %}
            <span class="{% include "classes/value.html" %}">
              {% include "includes/value.html" %}
            </span>
          {% else %}
            {{ event.display_title }}
          {% endif %}
        </h1>
        <h2 class="subtitle is-6">
          {% if event.unit != Unit.IMAGE_URL %}{{ event.display_title }}{% endif %}
          <span><i class="far fa-clock"></i></span> {% include "includes/timestamp.html" %}
        </h2>
      </div>
    </div>
    <div class="hero-foot">
      {% include "includes/period.html" %}
    </div>
  </section>

  {% if event.unit == Unit.IMAGE_URL %}
    <section class="section">
      <div class="container">
        <h3 class="title is-5">Actual</h3>
        <div class="notification">
          {% include "includes/value.html" %}
        </div>
      </div>
    </section>
  {% endif %}

  {% if events %}
    <section class="section">
      <div class="container">
        <h3 class="title is-5">Events</h3>
        <table class="table is-striped is-fullwidth">
          <tbody>
          {% for event in events|reverse %}
            <tr>
              <td>{{ event.timestamp }}</td>
              <td>{{ event.value }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <h3 class="title is-5">Last event</h3>
      <div class="content">
        <pre><code>{{ raw_event|pprint }}</code></pre>
      </div>
    </div>
  </section>
{% endblock %}
