<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
  <title>IFTTTie</title>
  <!-- TODO: favicon -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA="
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  >
</head>
<body>
<nav class="navbar is-dark is-fixed-bottom" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"><span class="icon has-text-warning"><i class="fas fa-cog"></i></span><span>Settings</span></a>
    </div>
  </div>
</nav>

{% block body %}{% endblock %}
</body>
</html>
