<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}IFTTTie{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA="
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  >
  <link rel="manifest" href="/manifest.json">
  <script type="text/javascript" src="https://kozea.github.io/pygal.js/latest/pygal-tooltips.min.js"></script>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbar-menu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <p class="buttons has-addons is-centered">
          <a class="button" href="/">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span>Home</span>
          </a>
        </p>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <p class="buttons has-addons is-centered">
          <a class="button" href="{{ app.context.configuration_url }}">
              <span class="icon">
                <i class="fas fa-external-link-alt"></i>
              </span>
            <span>Configuration</span>
          </a>

          <a class="button" href="/db.sqlite3">
              <span class="icon">
                <i class="fas fa-file-download"></i>
              </span>
            <span>Database</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

{% block body %}{% endblock %}

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a href="https://github.com/eigenein/iftttie"><strong>IFTTTie</strong></a> by <a href="https://eigenein.com"><strong>eigenein</strong></a>.
      <i class="fas fa-certificate has-text-primary"></i>
      Made with <a href="https://bulma.io/"><strong>Bulma</strong></a>.
      <i class="fab fa-fort-awesome has-text-success"></i>
      Icons by <a href="https://fontawesome.com/"><strong>Font Awesome</strong></a>.
    </p>
  </div>
</footer>

<script>
  /*
   * Used the implementation example from:
   * https://bulma.io/documentation/components/navbar/
   */

  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
</script>
</body>
</html>
