{% extends "base.html" %}

{% block title %}{{ event.display_title }} – IFTTTie{% endblock %}

{% block body %}
  <section class="hero {% with %}{% include "class-background.html" %}{% endwith %}">
    <div class="hero-head">
      {% include "navbar.html" %}
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4">
          {% if event.unit.is_inline %}
            <span class="{% with %}{% include "class-foreground.html" %}{% endwith %}">
              {% with %}{% include "value.html" %}{% endwith %}
            </span>
          {% else %}
            {{ event.display_title }}
          {% endif %}
        </h1>
        <h2 class="subtitle is-6">
          {% if event.unit.is_inline %}{{ event.display_title }}{% endif %}
          <span><i class="far fa-clock"></i></span> {% with %}{% include "timestamp.html" %}{% endwith %}
        </h2>
      </div>
    </div>
  </section>

  {% if not event.unit.is_inline %}
    <section class="section">
      <div class="container">
        <h3 class="title is-5">Actual</h3>
        <div class="notification">
          {% with %}{% include "value.html" %}{% endwith %}
        </div>
      </div>
    </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <h3 class="title is-5">Raw event</h3>
      <div class="content">
        <pre><code>{{ raw_event|pprint }}</code></pre>
      </div>
    </div>
  </section>
{% endblock %}
