{% extends "base.html" %}

{% block title %}{{ event.display_title }} – IFTTTie{% endblock %}

{% block body %}
  <section class="hero {% with %}{% include "class-background.html" %}{% endwith %}">
    <div class="hero-head">
      {% include "navbar.html" %}
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4">{{ event.display_title }}</h1>
        <h2 class="subtitle is-6">
          {% if event.unit != Unit.IMAGE_URL %}
            <span class="{% with %}{% include "class-foreground.html" %}{% endwith %}">
              {% with %}{% include "value.html" %}{% endwith %}
            </span>
          {% endif %}
          <span><i class="far fa-clock"></i></span> {% with %}{% include "timestamp.html" %}{% endwith %}
        </h2>
      </div>
    </div>
  </section>

  {% if event.unit == Unit.IMAGE_URL %}
    <section class="section">
      <div class="container">
        <figure class="image"><img src="{{ event.value }}" alt="Event image"></figure>
      </div>
    </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <h3 class="title is-5">Raw event</h3>
      <div class="content">
        <pre><code>{{ raw_event|pprint }}</code></pre>
      </div>
    </div>
  </section>
{% endblock %}
