{% extends "base.html" %}

{% set UNIT_TITLES = {
    Unit.BEAUFORT: 'Beaufort',
    Unit.BOOLEAN: 'Boolean',
    Unit.CELSIUS: 'Temperature',
    Unit.DATETIME: 'Date and Time',
    Unit.ENUM: 'Enumerations',
    Unit.HPA: 'Pressure',
    Unit.IMAGE_URL: 'Image',
    Unit.MPS: 'Speed',
    Unit.OTHER: 'Other',
    Unit.RH: 'Humidity',
    Unit.TIMEDELTA: 'Duration',
    Unit.WATT: 'Power',
} %}

{% block body %}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4">Dashboard</h1>
        <h2 class="subtitle is-5">{{ updates|length }} updates</h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      {% for grouper, list in updates|groupby('unit') %}
        <h3 class="title is-5">{{ UNIT_TITLES[grouper] }}</h3>
        {% for batch in list|batch(4, '') %}
          <div class="tile is-ancestor">
            {% for update in batch %}
              {% if update %}
                {% with %}{% include "tile.html" %}{% endwith %}
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </section>
{% endblock %}
