{% extends "base.html" %}
{% block body %}
  <section class="section">
    <div class="container">
      {% for batch in latest|batch(6, '') %}
        <div class="tile is-ancestor">
          {% for update in batch %}
            {% if update %}
              <div class="tile is-parent is-2">
                <a class="tile is-child notification {{ update.value|valuetileclass }}" href="/key/{{ update.key }}">
                  <p class="title is-6">{{ update.key }}</p>
                  <p class="subtitle is-7" title="{{ update.timestamp }}">
                    {{ update.timestamp.strftime('%b %-d, %H:%M:%S') }}
                  </p>
                  <p class="{{ update.value|valuebodyclass }}">{{ update.value }}</p>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
