<div class="tile is-parent is-3">
  <a
    class="tile is-child notification {% with %}{% include "class-background.html" %}{% endwith %}"
    href="/channel/{{ event.channel_id }}"
  >
    <p class="title is-6">{{ event.display_title }}</p>
    <p class="subtitle is-7">
      {% with %}{% include "timestamp.html" %}{% endwith %}
    </p>
    <p
      class="has-text-centered has-text-weight-bold {% with %}{% include "class-foreground.html" %}{% endwith %}"
    >{% with %}{% include "value.html" %}{% endwith %}</p>
  </a>
</div>
